@page
@model Bookstore.Pages.PurchaseCompleteModel
@{
}

<div class="text-center">
    <h2>Thanks! You will receive your order soon!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>